.App {
 text-align: center;
 padding: 100px;
 font-family: Arial, sans-serif;
}
h1 {
 color: #333;
}
h2 {
 font-size: 4rem;
 margin: 40px;
 color: #0070f3;
}
button {
 font-size: 1.5rem;
 padding: 15px 30px;
 margin: 10px;
 background: #0070f3;
 color: white;
 border: none;
 border-radius: 10px;
 cursor: pointer;
}
button:hover {
 background: #005edc;
}