body{
    font-family: Labrada;
    background-color: #002349;
}


.card {
  position: relative;
  width: 250px;
  padding: 20px;
  background-color: #2a2929;
  color: #F0F0F0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;          
  height: 210px;         
  object-fit: cover;   
  border-radius: 10px;
  margin-bottom: 10px;
}


.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #957C3D;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}
