body{
    background-color: #002349;
    font-family: Didact Gothic;
}

.product-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes sur desktop */
  gap: 20px;                             /* espace entre les produits */
  padding: 20px;
}

.product {
  background: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border-style: outset;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Tablette : 2 colonnes */
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile : 1 colonne */
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
