body{
    background-color: #002349;
    font-family: Didact Gothic;
}


.navbar {
  background: #002349;
  padding: 15px 0;
  border-bottom-style:groove;
  border-bottom-color: #957C3D;
}

.navbar ul {
  display: flex;                
  justify-content: center; 
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar a:hover {
  color: #ff6363;
}
